body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url("https://img.freepik.com/free-photo/blue-gradient-abstract-background-empty-room-with-space-your-text-picture_1258-53203.jpg?size=626&ext=jpg&ga=GA1.1.1116495390.1709619919&semt=ais");
background-size: 100;
}

.filter-section {
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

